@model IEnumerable<RememberContentViewModel>

<table class="table-list-remember">
    <caption>Оценю позже</caption>
    <thead>
        <tr><th>Id</th><th>Название</th><th>Жанр</th><th>Автор</th><th>Год создания</th></tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <td class="item-id">@i.Id</td>
                <td>@i.Name</td>
                <td>@i.Genre</td>
                <td>@i.Autor</td>
                <td>@i.CreationYear</td>
            </tr>
        }
    </tbody>
</table>